{{> head }}

{{> navbar }}
 <div call="row">
     <div class= "col-8">
         <h1>
             MOTO
         </h1>
         <p>
             Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero in accusamus dolorum fugit, expedita consequuntur quia. Necessitatibus quaerat, porro mollitia, laboriosam consequuntur voluptatem exercitationem alias eum omnis, enim maxime minus.
         </p>
     </div>
      <div class= "col-4">
            <img src="assets/img/moto.png"class="img-thubnail">
      </div>
 </div>

{{> footer}}
